In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [3]:
# load the dataset
data=pd.read_csv('C:\\Users\\maayubi\\Downloads\\LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [20]:
from tabulate import tabulate
table=[['Output(Y)','Input(X)','Test to be carried out'],['Continous','Discrete in 2 Categories','2 Sample t test', ],['Continous','Discrete in more than 2 Categories','ANOVA-One Way Test'],['Discrete','Discrete in 2 Categories','2-Proportion Test'],['Discrete','Discrete in more than 2 Categories','Chi-Square Test']]
print(tabulate(table,headers='firstrow',showindex='always',tablefmt='fancy_grid'))

╒════╤═════════════╤════════════════════════════════════╤══════════════════════════╕
│    │ Output(Y)   │ Input(X)                           │ Test to be carried out   │
╞════╪═════════════╪════════════════════════════════════╪══════════════════════════╡
│  0 │ Continous   │ Discrete in 2 Categories           │ 2 Sample t test          │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  1 │ Continous   │ Discrete in more than 2 Categories │ ANOVA-One Way Test       │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  2 │ Discrete    │ Discrete in 2 Categories           │ 2-Proportion Test        │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  3 │ Discrete    │ Discrete in more than 2 Categories │ Chi-Square Test          │
╘════╧═════════════╧════════════════════════════════════╧══════════════════════════╛

Confidence Interval:--
95% Confidence- I’m 95% confident that inferences I make based on testing these samples are correct.

Risk of going wrong 5%

5%- This is termed as α(alpha)
In this example given significance level is 5% that is p_value=0.05"

Assume Null Hypothesis Ho as No Varaince: All samples TAT population means are same

Thus Alternate Hypothesis Ha as It has Variance: Atleast one sample TAT population mean is different

In [4]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [6]:
p_value[1]  # comparing the pvalue from Anova test with assumed p_value = 0.05

2.1156708949992414e-57

In [19]:
print(np.round(p_value[1],50),'''is less than 0.05, Hence Reject the Null Hypothesis Ho which is 'No Variance: All samples TAT population means are same' ''')

0.0 is less than 0.05, Hence Reject the Null Hypothesis Ho which is 'No Variance: All samples TAT population means are same'

Yes, there is difference in average TAT among the different laboratories at 5% significance level.