#Assignment-3 -Q3

In [94]:
import pandas as pd
from scipy import stats as stats
#import numpy as np

In [95]:
df= pd.read_csv('C:\\Users\\maayubi\\Downloads\\BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

Assume Null Hypothesis as Ho: Independence of categorical variables (male-female buyer ratios are similar across regions (does not vary and are not related) 

Thus, Alternate Hypothesis as Ha: Dependence of categorical variables (male-female buyer rations are NOT similar across regions (does vary and somewhat/significantly related)

In [96]:
#Creating Table to select which test to perform for the dataset
from tabulate import tabulate
table=[['Output(Y)','Input(X)','Test to be carried out'],['Continous','Discrete in 2 Categories','2 Sample t test', ],['Continous','Discrete in more than 2 Categories','ANOVA-One Way Test'],['Discrete','Discrete in 2 Categories','2-Proportion Test'],['Discrete','Discrete in more than 2 Categories','Chi-Square Test']]
print(tabulate(table,headers='firstrow',showindex='always',tablefmt='fancy_grid'))

╒════╤═════════════╤════════════════════════════════════╤══════════════════════════╕
│    │ Output(Y)   │ Input(X)                           │ Test to be carried out   │
╞════╪═════════════╪════════════════════════════════════╪══════════════════════════╡
│  0 │ Continous   │ Discrete in 2 Categories           │ 2 Sample t test          │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  1 │ Continous   │ Discrete in more than 2 Categories │ ANOVA-One Way Test       │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  2 │ Discrete    │ Discrete in 2 Categories           │ 2-Proportion Test        │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  3 │ Discrete    │ Discrete in more than 2 Categories │ Chi-Square Test          │
╘════╧═════════════╧════════════════════════════════════╧══════════════════════════╛

Using " Chi-Square Test " as our Data is Discrete in nature and discrete in more than 2 Categories

In [97]:
df_table=df.iloc[:,1:5]
df_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [98]:
# Make dimensional array
obs=np.array([[50,142,131,70],[435,1523,1356,750]])
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [99]:
# Chi2 contengency independence test
from scipy.stats import chi2_contingency
val=chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected obsvations)
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [100]:
p_value=val[1]
p_value

0.6603094907091882

In [101]:
if p_value <= 0.05:
	print('Dependent (reject H0)')
else:
	print('Independent (Accept the  H0)')

Independent (Accept the  H0)

Accept the Null Hypothesis i.e. Independence of categorical variables Thus, male-female buyer ratios are similar across regions and are not related