#Assignment-3 -Q4

In [177]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [178]:
# load the dataset
data=pd.read_csv('C:\\Users\\maayubi\\Downloads\\Costomer+OrderForm.csv')
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

Assume Null Hypothesis as Ho: Independence of categorical variables (customer order forms defective % does not varies by centre) 

Thus, Alternative hypothesis as Ha Dependence of categorical variables (customer order forms defective % varies by centre)

In [179]:
#Creating Table to select which test to perform for the dataset
from tabulate import tabulate
table=[['Output(Y)','Input(X)','Test to be carried out'],['Continous','Discrete in 2 Categories','2 Sample t test', ],['Continous','Discrete in more than 2 Categories','ANOVA-One Way Test'],['Discrete','Discrete in 2 Categories','2-Proportion Test'],['Discrete','Discrete in more than 2 Categories','Chi-Square Test']]
print(tabulate(table,headers='firstrow',showindex='always',tablefmt='fancy_grid'))

╒════╤═════════════╤════════════════════════════════════╤══════════════════════════╕
│    │ Output(Y)   │ Input(X)                           │ Test to be carried out   │
╞════╪═════════════╪════════════════════════════════════╪══════════════════════════╡
│  0 │ Continous   │ Discrete in 2 Categories           │ 2 Sample t test          │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  1 │ Continous   │ Discrete in more than 2 Categories │ ANOVA-One Way Test       │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  2 │ Discrete    │ Discrete in 2 Categories           │ 2-Proportion Test        │
├────┼─────────────┼────────────────────────────────────┼──────────────────────────┤
│  3 │ Discrete    │ Discrete in more than 2 Categories │ Chi-Square Test          │
╘════╧═════════════╧════════════════════════════════════╧══════════════════════════╛

Using " Chi-Square Test " as our Data is Discrete in nature and discrete in more than 2 Categories

In [180]:
# for Transforming String data to Numerical Data
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [181]:
data['Phillippines']=le.fit_transform(data.Phillippines)
data['Indonesia']=le.fit_transform(data.Indonesia)
data['Malta']=le.fit_transform(data.Malta)
data['India']=le.fit_transform(data.India)
data #Where '1' is 'Error free' and '0' is 'Defective'

     Phillippines  Indonesia  Malta  India
0               1          1      0      1
1               1          1      1      0
2               1          0      0      1
3               1          1      1      1
4               1          1      0      1
..            ...        ...    ...    ...
295             1          1      1      1
296             1          1      1      1
297             1          1      0      1
298             1          1      1      1
299             1          0      0      1

[300 rows x 4 columns]

In [182]:
data.Phillippines.value_counts()

1    271
0     29
Name: Phillippines, dtype: int64

In [183]:
data.Indonesia.value_counts()

1    267
0     33
Name: Indonesia, dtype: int64

In [184]:
data.Malta.value_counts()

1    269
0     31
Name: Malta, dtype: int64

In [185]:
data.India.value_counts()

1    280
0     20
Name: India, dtype: int64

In [186]:
# Making a contingency table
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [187]:
# Chi2 contengency independence test
val=chi2_contingency(obs) # o/p is (Chi2 stats value, p_value, df, expected observations)
val

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [191]:
chi2_stats_val=val[0] #Chi2 stats value
p_value=val[1] #p_value
Expected_value=val[3] #df
chi2_stats_val

3.858960685820355

In [192]:
if p_value <= 0.05:
	print('Dependent (reject H0)')
else:
	print('Independent (Accept the  H0)')

Independent (Accept the  H0)

Accept Null Hypthesis i.e. Independence of categorical variables Thus, customer order forms defective % does not varies by centre.